odes/data
odes/checkpoints
odes/logs

# Python
*.pyc
__pycache__

# Coverage
*.coverage

# Misc
run.sh
tags

# PyCharm
.idea

# Rope
.ropeproject

# Distribution / packaging
build/
dist/
avod.egg-info/
odes.egg_info/

# Protobuf files
*_pb2.py

# line_profiler
*.lprof

# tf_profiler
*.json

## .swp file
*.swp

